.tickets{
   
  
    margin-top: 50px;
    width: 400px;
    width: 400px;
    padding: 20px;
    background-color: #FBE6CC;
    border-radius: 10px;
}
.tickets_box{
    background-color: #FBE6CC;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;

}
.main{
    margin-left: 100px;
   
    background: #FFFAEB;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}
.tickets_header{
    /* background-color: #FBE6CC; */


    font-family: Poppins, sans-serif;
    font-size: 16px;
    font-style: normal;
    line-height: 22px;
    font-variant-caps: normal;
    font-variant-east-asian: normal;
    font-variant-ligatures: normal;
    font-variant-numeric: normal;
    font-weight: 700;
    background-color: #E89452;
    padding: 7px;
    border-radius: 5px;
    
}
.tickets_box span{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
   
     

    font-family: Poppins, sans-serif;
    font-size: 14px;
    font-style: normal;
    line-height: 25px;
    letter-spacing: 1px;
    font-variant-caps: normal;
    font-variant-east-asian: normal;
    font-variant-ligatures: normal;
    font-variant-numeric: normal;
    font-weight: 600;
    background-color: #E89452;
    padding: 7px;
    color: rgb(0, 0, 0);
    border-radius: 3px;
    
}
.tickets_box h1{
    background-color: #FBE6CC;
    flex: 1;
 
    font-family: Poppins, sans-serif;
    font-size: 14px;
    font-style: normal;
    line-height: 25px;
    letter-spacing: 1px;
    font-variant-caps: normal;
    font-variant-east-asian: normal;
    font-variant-ligatures: normal;
    font-variant-numeric: normal;
    font-weight: 400;
    background-color: #FBE6CC;
    padding: 7px;
    color: rgb(0, 0, 0);
    border-radius: 5px;
    
}
