



.loginmain {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #fffaeb;
    gap: 10px;
  }
  
  .mainDiv {
    width: 370px;
    padding: 30px;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: #F7F2E4;
    border-radius: 10px;
  

  }
  
  .av-div {
    margin: 30px;
    background-color: #F7F2E4;
  }
  
  .icon {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    
  
  }
  
  .us-div,
  .pass-div {
    width: 100%;
    margin-bottom: 20px;
  }
  
  .userText,.passText {
    width: 100%;
  }
  
  .but-div {
    margin: 20px;
  }
  
  .SubButton {
  
    padding-left: 100px;
    background-color: #000000;
    color: rgb(117, 47, 47);
  }
  
  .SubButton:hover {
    background-color: #1c334b;
  }
   .button_I{
       border: none;
       padding: 15px;
       padding-left: 130px;
       padding-right: 130px;
       border-radius: 30px;
       color: #000000;
       border: none;
       background-color: #E89452;  
       font-size: 16px;
       font-family: Poppins, Arial, sans-serif;
       line-height: 1.1;
       letter-spacing: 0.9px;
       text-align: justify;
       font-weight: 700;
       text-decoration: none;
   }

   
   .Cook_Book{
  

    font-family: Poppins, sans-serif;
    font-size: 30.8975px;
    font-variant-caps: normal;
    font-variant-east-asian: normal;
    font-variant-ligatures: normal;
    font-variant-numeric: normal;
    font-weight: 600;
    background-color: #F7F2E4;
    gap: 15px;
    
   }