*body {
    background-color: #ECE9FF;
}

.SwitchTab{
 margin-top: 10px;
}
.recCat {
    margin: auto;
    max-width: 1200px;


}

.categor {
    color: #ffffff;
    width: 20%;
border-radius: 10px;
   text-align: center;
    font-size: 30px;
    font-family: inter, Arial, sans-serif;
    line-height: 1.1;
    margin-bottom: 10px;
    line-height: 64px;
    vertical-align: baseline;
    letter-spacing: -1.12px;
    word-spacing: 0px;
    margin: 0px;
    padding: 0px;
    font-weight: 500;
    text-decoration: none;
    padding: 4px;
    background-color:#FAE8D9;
}

.RecipeName {
    margin-top: 20px;
    display: flex;
    align-items: center;
    height: 50px;
    max-width: 1200px;
    justify-content: space-between;
    background-color: #FBE6CC;
    color: #ffffff;
    border-radius: 15px 15px 0px 0px;
}
.RecipeNameTag{
    margin-top: 20px;
    display: flex;
    align-items: center;
    height: 50px;
    max-width: 1200px;
   
    background-color: #FBE6CC;
    color: #ffffff;
    border-radius: 15px 15px 0px 0px;
}
.RecipeName_number {
    font-size: 20px;
    font-family: inter, Arial, sans-serif;
    font-weight: 600;
    text-transform: capitalize;
    margin-left: 10px;
    background-color: #cf4307;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.RecipeName_name {
    font-size: 20px;
    font-family: inter, Arial, sans-serif;
    font-weight: 600;
    text-transform: capitalize;

    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    color:#CF4307;
    border: none;
   
    font-family: Poppins, sans-serif;
    font-size: 25px;
    font-style: normal;
    font-variant-caps: normal;
    font-variant-east-asian: normal;
    font-variant-ligatures: normal;
    font-variant-numeric: normal;
    font-weight: 600;

}
.delete-button{
    background-color: #CF4307;
    margin-top: 10px;
    margin-right: 30px;
    border: none;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    padding: 4px;
    width: 40px;
    font-family: Poppins, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-variant-caps: normal;
    font-variant-east-asian: normal;
    font-variant-ligatures: normal;
    font-variant-numeric: normal;
    font-weight: 400;
}

.main {
    background-color: #FBE6CC;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    height: auto;
    border-radius: 0px 0px 15px 15px
}


.main_list {
    margin-left: 30px;
    color: #000000;
    align-self: flex-start;
    margin-top: 30px;
}

.main_list li {
  
    font-family: Poppins, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-variant-caps: normal;
    font-variant-east-asian: normal;
    font-variant-ligatures: normal;
    font-variant-numeric: normal;
    font-weight: 400;

    line-height: 1.1;
    margin-bottom: 10px;
    text-align: justify;
    font-weight: normal;
    text-decoration: none;
}

.Box_img {
    width: 300px;
    height: 300px;
    object-fit: contain;
    border-radius: 50px;


}


.haeder_text {
    font-size: 32px;
    font-family: inter, Arial, sans-serif;
    color: #525050;
    line-height: 1.5;
    margin-bottom: 10px;
    text-align: justify;
    font-weight: normal;
    text-decoration: none;
    font-weight: 500px;
}

.Box_2 {
    margin: 20px;
    background-color: #E89452;
    height: inherit;
    width: 500px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    gap: 5px
}

.text {
  
    font-family: Poppins, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-variant-caps: normal;
    font-variant-east-asian: normal;
    font-variant-ligatures: normal;
    font-variant-numeric: normal;
    font-weight: 400;
}

.Box_div_one {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.button {
    background-color: #cf4307;
    margin-top: 10px;
    margin-right: 30px;
    border: none;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    padding: 10px;
    width: 130px;
    font-family: Poppins, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-variant-caps: normal;
    font-variant-east-asian: normal;
    font-variant-ligatures: normal;
    font-variant-numeric: normal;
    font-weight: 500;
}
