.cardCompMain{
    display: flex;
    justify-content: space-evenly;
    margin-top: 3rem;
    flex-wrap:wrap;
}
.main-paper{
    width: 400px;
    margin: 20px;
    border: 1px solid white;
    border-radius: 10px;
}
.main-paper img{
    width: 100%;
    margin-bottom: 10px;
}
.bottom-paper{
    padding: 10px;
}
.bottom-paper h4{
    text-decoration: underline;
}
.bottom-paper button{
    width: 120px;
    margin: 20px auto;

}