.sideBar .sideText{
    text-decoration: none;
    color: #4C32B3;
    text-align: center;
    font-size: 18px;
    font-family: Arial, sans-serif;
    line-height: 1.1;

    vertical-align: baseline;
    /* letter-spacing: px; */
    word-spacing: 0px;
    font-weight: 400;
    text-decoration: none;
     
    
}



.sideBar {
    margin-top: -7px;
   width: 100%;
   height: 60px;
   background-color: #F7F7FE;
   display: flex;
   align-items: center;
   justify-content: space-between;
   

}


.sideBar_2{
   width: 30%;
   display: flex;
   justify-content: space-evenly;


}
.sideBar_1{
    margin-left: 10px;
}