.mainBox {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    height: 800px;
    align-items: start;
    width: 800px;
    margin: 10px auto;
    padding: 15px;
    
}



label {
    font-weight: bold;
}