



.loginmain {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffffff;
    gap: 10px;
  }
  
  .mainDiv {
    width: 400px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: #ffffff;
  

  }
  
  .av-div {
    margin: 40px;
  }
  
  .icon {
    width: 200px;
    height: 200px;
  }
  
  .us-div,
  .pass-div {
    width: 100%;
    margin-bottom: 20px;
  }
  
  .userText,
  .passText {
    width: 100%;
  }
  
  .but-div {
    margin: 20px;
  }
  
  .SubButton {
  
    padding-left: 100px;
    background-color: #007bff;
    color: white;
  }
  
  .SubButton:hover {
    background-color: #0056b3;
  }
   .button_I{
       border: none;
       padding: 15px;
       padding-left: 170px;
       padding-right: 170px;
       background-color: #0056b3;
       border-radius: 30px;
       color: #ffffff;
       border: none;
       background-color: #6C47FF;
       
       font-size: 16px;
       font-family: inter, Arial, sans-serif;
       line-height: 1.1;
   
       text-align: justify;
       font-weight: 600;
       text-decoration: none;
   }